
# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log

# Build files
/build/
/dist/
/public/build/

# Editor and system files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Production files
/.next/
/out/

# React files
*.cache
.eslintcache

# MongoDB database dumps
/dump/

# Temporary files
/tmp/
*.swp

# Coverage reports
/coverage/

# Server uploads
/uploads/

# Docker
.dockerignore
/docker-compose.yml
